<style>
.footer {
    margin-top: 15%;
    background-color: #373a3b;
    height: 250px;
    width: auto;
}

.copiright {
    color: rgb(184, 182, 182);
    text-align: center;
    font-size: 1.3rem;
    font-family: monospace;
    margin-top: 20px;
}
.contact p {
    color: rgb(184, 182, 182);
    text-align: center;
    font-family: monospace;
    font-size: 1.3rem;
    margin: 0;
}
.contact {
    padding: 8% 0 0;
}

</style>
<div class="container-fluid footer">
    <div class="contact">
        <p>Kontakt</p>
        <p>deutschklatsch@gmail.com</p>
    </div>
    <p class="copiright">© 2021 Deutsch Klatsch</p>
</div>
</div>