/* Entire Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.asteriskField {
    display: none;
}

/* font-family: 'Open Sans', sans-serif; */


/* HEADER AND COVERPAGE SECTION */

nav {
    font-family: 'Montserrat', sans-serif;
}



/* This Container order is important to apply for resizing pictures */
.imageContainer > img {
    max-width: 100%;
    max-height: 100%;
}
.imageContainer {
    height: 100%;
}



/* HOMEPAGE MAINPAGE SECTION */

#topicsToggle {
    cursor: pointer;
}





/* TOPIC LIST PAGE */

.topic-container a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.topic-container a:hover {
    color: rgb(92, 90, 90);
}

/* Topic table section */
table {
    font-family: monospace;
    table-layout: auto;
    width: 100%;
}
.topic-th, .topic-td {
    text-align: center;
}
.topic-th {
    background: rgb(41, 40, 40);
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
} 
.topic-td {
    height: 35px;
    font-size: 17px;
}
.topic-table-row:hover {
    background-color: rgb(216, 213, 213);
}
.topic-table-row td {
    border-bottom: 1px solid rgb(216, 216, 216);
}
.post-title {
    text-align: left;
}
/* this makes whole block as a link. */
.post-title a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
}
.post-writer {
    overflow: hidden;
}
.seven {
    width: 7%;
}
.fifty {
    width: 50%;
}
.twenty {
    width: 15%;
}
.ten {
    width: 10%;
}
.post-date {
    font-size: 13px;
}

/* pagination */
.page-buttons a {
    text-decoration: none;
    color: black;
    margin: 0 8px;
    font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
    .topic-th {
        display: none;
    }
    .topic-table-row {
        border-bottom: 1px solid rgb(171, 171, 171);
    }
    .post-likes, .post-views {
        display: none;
    }
    .post-title a {
        width: 100%;
        display: block;
    }
    .post-title {
        display: block;
        font-size: 20px;
        margin: 0px 10px;
        overflow: hidden;
        /* white-space: nowrap; */
    }
    .post-writer, .post-date {
        display: inline-block;
        font-size: 12px;
        color: rgb(122, 120, 120);
        height: 15px;
        margin: 0 10px 8px;
        margin-bottom: 8px;
    }
    .topic-table-row td {
        border-bottom: none;
    }
}

/* BUTTONS */
.button-container {
    margin-bottom: 1%;
}
.write-button {
    float: right;
}
.button-container p {
    font-family: monospace;
}
@media screen and (max-width: 600px) {
    .button-container {
        margin: 0 10px 5px;
    }
}

/* Topic table section END2 */



/* POST PAGE SECTION */

.post-header-container a {
    text-decoration: none;
    color: black;
}
.post-info p {
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 0px;
}
.post-info-views-ups {
    float: right;
}
.children form {
    margin-left: -1rem;
}
.children .children form {
    margin-left: -2rem;
}
.children .children .children form {
    margin-left: -3rem;
}
/* this applies to topic view's post title as well */
.post-title {
    word-break: break-all; 
}
#favorite-topic i {
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 5px;
    /* color: white; */
    /* color: rgb(255, 94, 0); */
}
.post-content-part img {
    width: 85% !important;
}

@media screen and (max-width: 600px) {
    .post-info-views-ups {
        float: none;
    }
    .post-header-container {
        margin: 0px 10px;
    }
    .post-content-section {
        margin: 0px 10px;
    }
    .writer-edit-delete-section {
        margin: 0px 10px;
    }
    .comments-list-section {
        margin: 0px 10px;
    }
    .comments-form-section {
        margin: 0px 10px;
    }
}
.fire-icon {
    text-align: center;
}
#likeIcon {
    color: grey;
    font-size: 3rem;
    cursor: pointer;
}



/* Comments Section */
.comments-list-section h3 {
    font-family: monospace;
}
.comments-list-section hr {
    margin: 1px 0px;
}
.comments-hr {
    border-top: 2px solid rgb(73, 73, 73);
    margin-top: 0px;
}
.comment-info {
    font-family: monospace;
    font-size: 1.1rem;
    color: rgb(122, 120, 120);
    margin-bottom: 0%;
}
.comment-content {
    font-size: 1.3rem;
    margin-bottom: 2px;
}
/* .comment-delete-edit-buttons {
    float: right;
}
.comment-delete-edit-buttons a {
    text-decoration: none;
}
.comment-delete, .comment-edit{
    display: block;
    margin: 3px 3px;
    font-size: 0.7rem;
} */
.comment-dropdown {
    margin: 3px 3px;
    float: right;
}
.comment-dropdown a {
    font-family: monospace;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}
.comment-dropdown i {
    cursor: pointer;
}


/* POST PAGE SECTION END */


/* CREATE POST PAGE SECTION */
.post-create-section .post-button {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px) {
    .post-header-container {
        margin: 0px 10px;
    }
    .post-create-section {
        margin: 0px 5px;
    }
}


/*  CREATE POST PAGE SECTION END */


/* DELETE POST SECTION */

@media screen and (max-width: 600px) {
    .post-delete-section {
        margin: 0px 10px;
    }
    .post-delete-button-section > .button-delete{
        display: block;
        width: 100%;
        margin: 3px 0px;
    }
    .post-delete-button-section > .button-back button{
        display: block;
        width: 100%;
        margin: 3px 0px;
    }
}

/* DELETE POST SECTION ENDS */



/* EDIT POST SECTION */
.post-edit-button > .post-button {
    float: right;
}


/* EDIT POST SECTION ENDS */


/* LOGIN PAGE SECTION */
.signup-home-buttons a {
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .login-container {
        margin: 0px 10px;
    }
}




/*  LOGIN PAGE SECTION ENDS */


/* USER PROFILE SECIOTN */
.picture-box {
    position: relative;
    width: 240px;
    height: 240px;
    overflow: hidden;
    display: block;
    justify-content: center;
    margin: auto;

}
.picture-box img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    /* object-fit: cover; */
}
.user-info-section td {
    font-family: monospace;    
}
.user_info_box table {
    table-layout: auto; 
    width: 100%;
    overflow: scroll;
    margin-top: 7px;
}
.user-post-ups {
    width: 10%;
}
.user-post-title {
    width: 70%;
}
.user-post-comments {
    width: 20%;
}
.user-post-table-row td {
    margin-left: 3px;
}
.user-post-th {
    background: rgb(41, 40, 40);
    font-weight: lighter;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}
.user-post-td {
    text-align: center;
    font-size: 1rem;
}
.user-post-title {
    text-align: left;
    padding-left: 8px;
}
.user-post-table-row:hover {
    background-color: rgb(216, 213, 213);
}
.user-post-page a {
    margin: 0px 4px;
}
.user-topics-badges a {
    font-size: 1.1rem;
}
.user-post-title a {
    text-decoration: none;
    color: black;
    overflow:auto;
}
.user-post-section table {
    table-layout: fixed;
}
.user-post-table-row td {
    overflow: hidden;
    white-space: nowrap;
}
#avatarForm input[name="avatar"] {
    font-size: 0.7rem;
    display: block;
}
#avatarForm input[type="submit"] {
    font-size: 0.7rem;
}


/* TOPIC REQUEST SECTION */
.requestRecommandation i {
    cursor: pointer;
}


/* FOOTER SECTION */

footer {
    height: 250px;
}



/* CHAT ROOM */

